/* Definición de Variables CSS */
:root {
  --main-font: 'Raleway';
  --alternate-font: sans-serif;
  --font-size: 16px;

  --main-color: rgb(217, 0, 98);
  --main-modal-color: rgba(217, 0, 98, .75);
  --second-color: rgb(20, 25, 45);
  --second-modal-color: rgba(20, 25, 45, .75);
  --alternate-color: rgb(80, 20, 100);
  --alternate-modal-color: rgba(80, 20, 100, .75);
  --action-color: rgb(84, 194, 141);
  --action-modal-color: rgba(84, 194, 84, .75);

  --bg-color: rgb(242, 244, 247);
  --bg-modal-color: rgba(242, 244, 247, .75);
  --bg-alternate-color: rgb(255, 255, 255);
  --bg-alternate-modal-color: rgba(255, 255, 255, .75);
  --border-color: #DDD;

  --text-color: #515B6D;
  --title-color: #333;

  --link-color: #509EE3;
  --link-hover-color: var(--main-color);
}

html {
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Estilos de Bootstrap Modificados */
.bg-dark {
  background-color: var(--second-color) !important;
}

.navbar-dark .navbar-nav  {
  background-color: var(--second-modal-color) !important;
}

/* Estilos propios */


/* MEDIAQUERIES DE BOOTSTRAP */
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


