/* Definición de Variables CSS */
:root {
  --main-font: 'Raleway';
  --alternate-font: sans-serif;
  --font-size: 16px;

  --main-color: rgb(217, 0, 98);
  --main-modal-color: rgba(217, 0, 98, .75);
  --second-color: rgb(20, 25, 45);
  --second-modal-color: rgba(20, 25, 45, .75);
  --alternate-color: rgb(80, 20, 100);
  --alternate-modal-color: rgba(80, 20, 100, .75);
  --action-color: rgb(84, 194, 141);
  --action-modal-color: rgba(84, 194, 84, .75);

  --bg-color: rgb(242, 244, 247);
  --bg-modal-color: rgba(242, 244, 247, .75);
  --bg-alternate-color: rgb(255, 255, 255);
  --bg-alternate-modal-color: rgba(255, 255, 255, .75);
  --border-color: #DDD;

  --text-color: #515B6D;
  --title-color: #333;

  --link-color: #509EE3;
  --link-hover-color: var(--main-color);

  --navbar-height: 64px;
}

html {
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: all .3s ease;
}

a:hover { color: var(--link-hover-color); }

h2 { font-size: 3rem; }

h3 { font-size: 2.5rem; }

/* Estilos de Bootstrap Modificados */
.bg-dark {
  background-color: var(--second-color) !important;
}

.navbar-dark .navbar-nav  {
  background-color: var(--second-modal-color) !important;
}

.navbar-brand img {
  padding: .5rem;
  width: auto;
  height: var(--navbar-height);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  transition: all .3s ease;
}

.navbar-dark .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(217, 0, 98, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item:hover {
  background-color: var(--main-modal-color);
  transition: all .3s ease;
}

.nav-link {
  color: var(--main-color) !important;
  font-size: 1.15rem;
  font-weight: bold;
  transition: all .3s ease;
}

.nav-link:hover {
  color: var(--bg-color) !important;
}

/* Estilos propios */
.single-page {
  background-image: url('img/site-singlepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.multi-page {
  background-image: url('img/site-multipage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-light-transparent {
  background-color: var(--bg-modal-color);
}

.full-screen {
  width: 100vw; /* Viewport Width */
  min-height: 100vh /* Viewport Height */
}

.section-hello {
  background: rgba(72,161,194,1);
  background: -moz-linear-gradient(-45deg, rgba(72,161,194,1) 0%, rgba(72,161,194,1) 42%, rgba(27,207,54,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(72,161,194,1)), color-stop(42%, rgba(72,161,194,1)), color-stop(100%, rgba(27,207,54,1)));
  background: -webkit-linear-gradient(-45deg, rgba(72,161,194,1) 0%, rgba(72,161,194,1) 42%, rgba(27,207,54,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(72,161,194,1) 0%, rgba(72,161,194,1) 42%, rgba(27,207,54,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(72,161,194,1) 0%, rgba(72,161,194,1) 42%, rgba(27,207,54,1) 100%);
  background: linear-gradient(135deg, rgba(72,161,194,1) 0%, rgba(72,161,194,1) 42%, rgba(27,207,54,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48a1c2', endColorstr='#1bcf36', GradientType=1 );
  font-size: 150;
}

.section-services img {
  background-color: var(--alternate-color);
}

.section-sites .carousel {
  max-width: 500px;
  margin: auto;
}

.section-sites figure img {
  padding: 1rem;
  background-color: var(--alternate-color);
}

/* MEDIAQUERIES DE BOOTSTRAP */
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


